@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  height: 100vh;
}

.App .title-page {
  margin: 20px;
}

.App .BOX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  margin-top: 30px;
  position: relative;
}

.simulator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.simulator h1 {
  margin-bottom: 30px;
}

.simulator .box-simulator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  gap: 40px;
}

.simulator .box-simulator .label-rendimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.simulator .box-simulator .option-box-1,
.simulator .box-simulator .option-box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
}

.simulator .box-simulator .option-box-1 input,
.simulator .box-simulator .option-box-2 input {
  display: none;
}

.simulator .box-simulator .option-box-1 input:checked + label,
.simulator .box-simulator .option-box-2 input:checked + label {
  background-color: #ed8e53;
  color: white;
  width: 100%;
}

.simulator .box-simulator .option-box-1 input:checked + label::before,
.simulator .box-simulator .option-box-2 input:checked + label::before {
  content: "✔︎";
  margin-right: 3px;
}

.simulator .box-simulator .option-box-1 label,
.simulator .box-simulator .option-box-2 label {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12vw;
  height: 45px;
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.simulator .box-simulator .option-box-1 label:hover,
.simulator .box-simulator .option-box-2 label:hover {
  color: #ed8e53;
}

.simulator .box-simulator .option-box-1 #bru,
.simulator .box-simulator .option-box-2 #bru {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simulator .box-simulator .option-box-1 #liq,
.simulator .box-simulator .option-box-2 #liq {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.simulator .box-simulator .option-box-1 #pr,
.simulator .box-simulator .option-box-2 #pr {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simulator .box-simulator .option-box-1 #fix,
.simulator .box-simulator .option-box-2 #fix {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.simulator .box-simulator .col-1 {
  width: 17vw;
}

.simulator .box-simulator .col-1 input[type="number"] {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  height: 40px;
  display: block;
  width: 100%;
}

.simulator .box-simulator .col-1 input[type="number"]::-webkit-input-placeholder {
  margin: 0px;
  padding: 0px;
}

.simulator .box-simulator .col-1 input[type="number"]:-ms-input-placeholder {
  margin: 0px;
  padding: 0px;
}

.simulator .box-simulator .col-1 input[type="number"]::-ms-input-placeholder {
  margin: 0px;
  padding: 0px;
}

.simulator .box-simulator .col-1 input[type="number"]::placeholder {
  margin: 0px;
  padding: 0px;
}

.simulator .box-simulator .col-2 {
  width: 17vw;
}

.simulator .box-simulator .col-2 input[type="number"] {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  height: 40px;
  display: block;
  width: 100%;
}

.simulator input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.simulator input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.simulator input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
}

.simulator .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.simulator .btns button {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.simulator .btns .clean {
  background-color: transparent;
  border: 1px solid black;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.simulator .btns .clean:hover {
  border: 1px solid #ed8e53;
  color: #ed8e53;
}

.simulator .btns .sim {
  background-color: #ed8e53;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.simulator .btns .sim:hover {
  background-color: #ff8c4a;
}

.simulator .btns .simClosed {
  background-color: grey;
  color: black;
}

.hidden {
  visibility: hidden;
}

.Resultados {
  width: 40vw;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: results 1.5s ease forwards;
          animation: results 1.5s ease forwards;
  opacity: 0;
}

.Resultados .cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Resultados .cards .card {
  background-color: #f0f0f0;
  width: 200px;
  height: 90px;
  -webkit-box-shadow: 1px 1px 8px black;
          box-shadow: 1px 1px 8px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Resultados .cards .card h2 {
  font-size: 18px;
}

@-webkit-keyframes results {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes results {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1080px) {
  .App {
    overflow: auto;
  }
  .App .title-page {
    text-align: center;
  }
  .App .BOX {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App .BOX .box-simulator {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50vw;
  }
  .App .BOX .box-simulator .col-1 {
    width: 100%;
  }
  .App .BOX .box-simulator .col-1 .option-box-1 label {
    width: 100%;
  }
  .App .BOX .box-simulator .col-2 {
    width: 100%;
  }
  .App .BOX .box-simulator .col-2 .option-box-2 label {
    width: 100%;
  }
  .App .BOX .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App .Resultados {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */