$primary-color: #ed8e53;
$secondary-color: rgb(240, 240, 240);

* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    height: 100vh;

    .title-page {
        margin: 20px;
    }

    .BOX {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 30px;
        position: relative;
    }
}

.simulator {
    display: flex;
    flex-direction: column;
    width: auto;

    h1 {
        margin-bottom: 30px;
    }

    .box-simulator {
        display: flex;
        margin-bottom: 25px;
        gap: 40px;

        .label-rendimento {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .option-box-1,
        .option-box-2 {
            input {
                display: none;

                &:checked + label {
                    background-color: $primary-color;
                    color: white;
                    width: 100%;
                }

                &:checked + label::before {
                    content: "✔︎";
                    margin-right: 3px;
                }
            }

            display: flex;

            label {
                background-color: transparent;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 12vw;
                height: 45px;
                border: 1px solid black;
                cursor: pointer;
                transition: 0.2s ease;

                &:hover {
                    color: $primary-color;
                }
            }

            #bru {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            #liq {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            #pr {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            #fix {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            margin-top: 15px;
            margin-bottom: 30px;
        }

        .col-1 {
            width: 17vw;
            input[type="number"] {
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid black;
                background-color: transparent;
                // padding: 10px;
                height: 40px;
                display: block;
                width: 100%;

                &::placeholder {
                    margin: 0px;
                    padding: 0px;
                }
            }
        }

        .col-2 {
            width: 17vw;
            input[type="number"] {
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid black;
                background-color: transparent;
                height: 40px;
                display: block;
                width: 100%;
            }
        }
    }

    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    .btns {
        display: flex;
        gap: 10px;

        button {
            justify-self: center;
            width: 100%;
            padding: 15px;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            font-weight: bold;
        }

        .clean {
            background-color: transparent;
            border: 1px solid black;
            transition: 0.2s ease;

            &:hover {
                border: 1px solid $primary-color;
                color: $primary-color;
            }
        }

        .sim {
            background-color: $primary-color;
            transition: 0.2s ease;

            &:hover {
                background-color: rgb(255, 140, 74);
            }
        }

        .simClosed {
            background-color: grey;
            color: black;
        }
    }
}

.hidden{
    visibility: hidden;
}

.Resultados {
    width: 40vw;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation: results 1.5s ease forwards;
    opacity: 0;

    .cards {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .card {
            background-color: $secondary-color;
            width: 200px;
            height: 90px;
            box-shadow: 1px 1px 8px black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            h2 {
                font-size: 18px;
            }
        }
    }
}

@keyframes results {
    from {opacity: 0}
    to {opacity: 1}
  }

@media (max-width: 1080px) {
    .App {
        overflow: auto;

        .title-page {
            text-align: center;
        }

        .BOX {
            flex-direction: column;
            align-items: center;

            .box-simulator {
                flex-direction: column;
                width: 50vw;

                .col-1 {
                    width: 100%;

                    .option-box-1 {
                        label {
                            width: 100%;
                        }
                    }
                }

                .col-2 {
                    width: 100%;

                    .option-box-2 {
                        label {
                            width: 100%;
                        }
                    }
                }
            }

            .btns {
                flex-direction: column;
            }
        }

        .Resultados {
            text-align: center;
            width: 100%;
            margin-bottom: 50px;
        }
    }
}
